.bg-body-tertiary-dark {
  background-color: #1d232f;
  color: #fbfbfb;
}
.navbar-nav .nav-link.active {
  color: #fbfbfb8b;
}
.slick-slider {
  margin-top: 5vh;
  text-align: center;
}
.slick-slider img {
  display: inline;
}
.red-border {
  border: red thin solid;
}
